* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;  
  padding: 0 15px;
  margin: 0 auto;
}
.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(../img/mt-fuji-477832_1920.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
}

.top-wrapper p {
    opacity: 0.7;
    margin-bottom: 15px;
}
.fas {
  color: white;
  font-size: 30px;
  margin-top: 20px;
  margin-right: 5px;
  display: none;
}

header {
  height: 65px;
  width: 100%;
  background: rgb(33, 46, 238);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 220px;
  height: 30px;
  margin-top: 15px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.kaisha {
  width: 100%;
  }
  
.kaisha th,.kaisha td {
  border: 1px solid #ccc;
  padding: 20px;
  }
  
.kaisha th {
  font-weight: bold;
  background-color: #dedede; 
  }
  
  #cover {
    background: #000;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
  }  
  #menu {
    z-index: 2;
    position: absolute;
    top: 0;
    right: -180px;
    color: #fff;
    background: #4c81e9;
    padding: 8px;
    box-sizing: border-box;
    width: 180px;
    min-height: 100%;
    transition: .4s;
    display: none;
  }
  #hide {
    margin-top: 10px;
    margin-right: 20px;
  }
  ul {
    margin-top: 50px;
  }  
  ul li {
    list-style: none;
    padding: 10px;
    color: #fff;
    
  }
  #show, #hide {
    float: right;
    cursor: pointer;
  }
  body.menu-open {
    overflow-y: hidden;
  }
  body.menu-open #cover {
    display: block;
  }
  body.menu-open #menu {
    right: 0;
  }
.clear {
    clear: left;
  }
  footer img {
    width: 150px;
  }
  
  footer p {
    color: #b3aeb5;
    font-size: 12px;
  }
  
  footer {
    padding-top: 30px;
    padding-bottom: 20px;
  }